body
{
    background: rgb(165, 164, 164);
    margin-left: 50px;
    margin-right: 200px;
}

h1
{
    color: rgb(255, 255, 255);
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{font-size: 18px;}

header
{
    margin-left: -20px;
}
.img_padrao
{
    margin-bottom: 20px;
    width: 400px;
}
.img_parceiros
{
    margin-bottom: 20px;
    width: 200px;
}